{% extends 'base.html.twig' %}

{% block body %}
<main>
    <!-- Latest product section -->
    <section id="latest_product" class="bg-gundam-blue">
        <!-- section header -->
        <header class="section-title">
            <h2>Nouveautés!</h2>
            <a href="{{ path('product_index') }}">Nos derniers arrivages > </a>
        </header>

        <!-- Card deck -->
        <ul class="deck">
            {% for latestProduct in latestProducts %}
                <!-- Card -->
                <li class="card-product">
                    <section class="card-product-content">
                        <header></header>
                        <a class="card-product-content-title">{{ latestProduct.reference }}</a>
                        <footer>
                            <p class="card-product-price">{{ latestProduct.sellPrice | number_format(2, '.') }} €</p>
                            {% if latestProduct.stock != 0 %}
                                <a class="card-product-add-cart" href="
                                    {% if is_granted('ROLE_USER') %}
                                        {{ path('product_add_to_cart', {'slug': latestProduct.slug})  }}
                                    {% else %}
                                        {{ path('user_login') }}
                                    {% endif %}">Ajouter au panier</a>
                            {% else %}
                                <a class="card-product-add-cart-disabled" >Rupture de stock</a>
                            {% endif %}
                        </footer>
                    </section>
                </li>
            {% endfor %}
        </ul>
    </section>
</main>
{% endblock %}
