<li class="card-product">
    <header class="card-product-header">
        <a href="{{ path('product_detail', {'id': product.id}) }}">
            {% if product.images is not empty %}
                <img class="card-product-thumbnail"
                     src="{{ asset('uploads/products/mini/300x300-' ~ product.images[0].name) }}"
                     alt="thumbnail">
            {% else %}
                <img class="card-product-thumbnail"
                     src="{{ asset('images/default-placeholder-300x300.png') }}"
                     alt="default image">
            {% endif %}
        </a>
    </header>
    <section class="card-product-content">
        <a href="{{ path('product_detail', {'id': product.id }) }}"
           class="card-product-content-title">{{ product.reference }}</a>
        <footer>
            <p class="card-product-price">{{ product.sellPrice | number_format(2, '.') }}
                €</p>
            {% if product.stock != 0 %}
                <a class="card-product-add-cart"
                   href="{% if is_granted('ROLE_USER') %}
                         {{ path('product_add_to_cart', {'slug': product.slug}) }}
                         {% else %}
                         {{ path('user_login') }}
                         {% endif %}">Ajouter au panier</a>
            {% else %}
                <a class="card-product-add-cart-disabled">Rupture de stock</a>
            {% endif %}
        </footer>
    </section>
</li>