{% extends 'base.html.twig' %}

{% block body %}
<main class="shopping-cart">
    <section class="cart">
        <table class="cart-table">
            <thead>
                <tr>
                    <th colspan="2"><h2>Votre commande</h2></th>
                </tr>
            </thead>
            <tbody class="cart-body">
                {% for item in shoppingCart.cartItem %}
                    <tr>
                        <td class="cart-body-item">{{ item.product.reference }}</td>
                        <td class="cart-body-item">{{ item.product.sellPrice | number_format(2, '.') }} €</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    <aside class="shopping-cart-aside">
        <h2>Récapitulatif</h2>
        <table>
            <tr>
                <td>Sous-total ({{ shoppingCart.cartItem.count }} article(s))</td>
                <td>{{ shoppingCart.total | number_format(2, '€') }}</td>
            </tr>
            <tr>
                <td class="shopping-cart-total">Total à payer</td>
                <td class="shopping-cart-total">{{ shoppingCart.total | number_format(2, '€') }}</td>
            </tr>
        </table>
        <a class="shopping-cart-validate" href="#">Valider mon panier</a>
    </aside>
</main>
{% endblock %}
