{{ form_start(category_form, {
    'attr': {
        'class': 'admin-panel-form',
        'autocomplete': 'off'
    }
}) }}
    {{ form_row(category_form.name) }}
    {{ form_row(category_form.slug) }}
    {{ form_row(category_form.description) }}
    {% if app.request.attributes.get('_route') == 'admin_category_put' %}
        <h2>Thumbnail</h2>
        {% for image in category.images %}
            <div>
                <img src="{{ asset('uploads/categories/mini/450x300-' ~image.name) }}" alt="thumbnail">
                <a href="{{ path('admin_category_delete_image', {'id': image.id}) }}" data-delete data-token="{{ csrf_token('delete' ~image.id) }}">Supprimer</a>
            </div>
        {% endfor %}
    {% endif %}
    {{ form_row(category_form.images) }}
<input type="submit" value="Valider">
{{ form_end(category_form) }}